@model PhotoCloud.Models.UsuarioLogadoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="acc_container">
    Bem Vindo @Model.nomeUsuario @Model.sobrenomeUsuario!
     <br />
     <br />
    @*@Html.ActionLink("Sair", "Logout", "Acesso")*@

</div>

