@{
    ViewBag.Title = "HabilitarCookie";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div id="BoxGeral">
    <div>&nbsp;</div>
    <h3 class="css0046">Os cookies devem ser habilitados</h3>
     <div>&nbsp;</div>
    <p>Seu navegador está configurado para bloquear cookies. O navegador deve permitir cookies para você usar uma conta PhotoCloud.</p>
    <p>Cookies são pequenos arquivos de texto armazenados no computador que informam aos sites e serviços do PhotoCloud quando você está conectado. Para aprender a habilitar cookies, veja a ajuda online do navegador da Web.</p>
    <br />
    <p>Habilite a gravação de cookies e tente novamente.</p>
    <br />
     @Html.ActionLink("Tentar novamente", "Login", "Acesso",false, new {@class = "LinkGeral"})
</div>






