@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div id="BoxGeral">
    <div style="float:left;border:1px none #ff6a00;padding:10px 0 0 0">
        <img src="~/Content/pho_images/phoimg_icones/imgico_raycloud4_230.png" width="180" height="180" />
    </div>
    <div style="float:left;border:1px none #f00; padding:0 30px;">
        <div>&nbsp;</div>
        <h1>Oops!</h1>
        <h3>A página que você procura não pode ser encontrada</h3>
         <div>&nbsp;</div>
        <h4>Possíveis Motivos:</h4>
        <ul>
            <li>O conteúdo não está mais no ar;</li>
            <li>A página mudou de lugar;</li>
            <li>Você digitou o endereço errado.</li>
        </ul>
    </div>

</div>
