@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div id="BoxGeral">
    <div style="float:left;border:1px none #ff6a00;padding:10px 0 0 0">
        <img src="~/Content/pho_images/phoimg_icones/imgico_deadcloud_230.png" width="180"  />
    </div>
    <div style="float:left;border:1px none #f00; padding:0 30px;">
        <div>&nbsp;</div>
        <h1>Oops! </h1>
        <h3>Ocorreu um erro desconhecido ao processar sua solicitação. <br />Tente de novo mais tarde ou entre em contato com o suporte.</h3>
        <div>&nbsp;</div>
     </div>
</div>